# User specific settings
.npmrc

# Auto generated output
out

# Auto generated dev tools
node_modules
*.css.d.ts
*.scss.d.ts

# Published example of compiled result
!/mylib/out.example/**/*.scss.d.ts
!/mylib/out.example/**/*.css.d.ts
